*{
    box-sizing: border-box;
}

body {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    border: 1px solid black;
    display:flex;
    flex-direction: column;
    width:500px;
    height:600px;
    
}



.screen {
    border: 1px solid blue;
    flex:.55;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    flex-wrap: wrap;
}

 .input, .output {
     flex:1;
     font-size: xx-large;
     
    border: 1px solid black;
}

.buttons{
    flex:1;
    display:flex;
    flex-direction: column;
}
.row{
    flex:1;
    border: 1px solid black;
    display:flex;
    justify-content: center;
}

.col{
    display:flex;
    justify-content: center;
    align-items: center;
    
    border:1px solid yellow;
    flex:1;
}
#double {
    flex:2;
}

